<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quanxiaoha.xiaohashu.auth.domain.mapper.RoleDOMapper">

    <resultMap id="BaseResultMap" type="com.quanxiaoha.xiaohashu.auth.domain.dataobject.RoleDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_key" property="roleKey" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_name, role_key, status, sort, remark, create_time, update_time, is_deleted
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_role (role_name, role_key, status, sort, remark, create_time, update_time, is_deleted)
        VALUES (#{roleName}, #{roleKey}, #{status}, #{sort}, #{remark}, #{createTime}, #{updateTime}, #{isDeleted})
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">role_name,</if>
            <if test="roleKey != null">role_key,</if>
            <if test="status != null">status,</if>
            <if test="sort != null">sort,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="roleName != null">#{roleName},</if>
            <if test="roleKey != null">#{roleKey},</if>
            <if test="status != null">#{status},</if>
            <if test="sort != null">#{sort},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_role
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="selectEnabledList" resultType="com.quanxiaoha.xiaohashu.auth.domain.dataobject.RoleDO">
        select id, role_key, role_name
        from t_role
        where status=0 and is_deleted = false
    </select>


    <update id="updateByPrimaryKeySelective">
        UPDATE t_role
        <set>
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="roleKey != null">role_key = #{roleKey},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateByPrimaryKey">
        UPDATE t_role
        SET role_name = #{roleName},
            role_key = #{roleKey},
            status = #{status},
            sort = #{sort},
            remark = #{remark},
            update_time = #{updateTime},
            is_deleted = #{isDeleted}
        WHERE id = #{id}
    </update>

    <delete id="deleteByPrimaryKey">
        UPDATE t_role
        SET is_deleted = 1,
            update_time = NOW()
        WHERE id = #{id}
    </delete>
</mapper>
